

.row{
      display: flex;
      grid-template-columns:500px 500px 500px  ;
      grid-gap: 20px;
      padding: 20px 5px 20px 5px;
      margin: 0px auto;
      


            
     
    
    
}
.blessed{
        background-color: #FE8515;
        text-align: center;
        color: #f5f5f5;
    
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 100%; 
       
}
.annointed{
    background-color:#7FC242 ;
    text-align: center ;
    border-radius: 10px;
    width: 300px;
    height: 70vh;
    color: #f5f5f5;
    line-height: 300px;
    
   

      
}
.love{
    background-color:#8BF10A ;
    text-align: center;
    color: #f5f5f5;
    border-radius: 10px;
    width: 700px;
    height: 70vh;
    line-height: 280px;
    float: center;
    

    
}
.patience{
    color: #f5f5f5;
    border-radius: 10px;
    float: right;
    width: 300px;
    height: 70vh;
    background-color: #7FC242;
    text-align: center;
    line-height: 280px;
    border-radius: 10px;


}
.joy{
    background-color:#F57E20
    ;
    color: #f5f5f5;
    padding-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;


}